In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('acs_select_housing_08to12_ntas.xlsx - ACS_12_5YR_DP04.csv')
df.head()

,Unnamed: 0,BK72 Williamsburg,BK73 North Side-South Side,BK76 Greenpoint,BK90 East Williamsburg,BK09 Brooklyn Heights-Cobble Hill,BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,BK68 Fort Greene,BK69 Clinton Hill,BK35 Stuyvesant Heights,...,SI24 Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill,SI36 Old Town-Dongan Hills-South Beach,SI45 New Dorp-Midland Beach,SI01 Annadale-Huguenot-Prince's Bay-Eltingville,SI11 Charleston-Richmond Valley-Tottenville,SI25 Oakwood-Oakwood Beach,SI32 Rossville-Woodrow,SI48 Arden Heights,SI54 Great Kills,SI99 park-cemetery-etc-Staten Island
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total housing units,"8,939","20,944","17,302","15,814","12,735","17,033","13,108","17,006","28,484",...,"11,739","9,275","8,398","10,352","8,244","8,733","7,225","9,188","15,716",0.0
2,Occupied housing units,"8,299","19,172","15,124","14,888","11,346","15,085","11,560","14,937","24,360",...,"11,096","8,752","7,881","9,786","7,622","8,194","6,945","8,805","15,289",0.0
3,Vacant housing units,640,"1,772","2,178",926,"1,389","1,948","1,548","2,069","4,124",...,643,523,517,566,622,539,280,383,427,0.0
4,UNITS IN STRUCTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.set_index(keys = 'Unnamed: 0', inplace = True)
df.index.rename('Parameters', inplace = True)
df.head()

,BK72 Williamsburg,BK73 North Side-South Side,BK76 Greenpoint,BK90 East Williamsburg,BK09 Brooklyn Heights-Cobble Hill,BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,BK68 Fort Greene,BK69 Clinton Hill,BK35 Stuyvesant Heights,BK75 Bedford,...,SI24 Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill,SI36 Old Town-Dongan Hills-South Beach,SI45 New Dorp-Midland Beach,SI01 Annadale-Huguenot-Prince's Bay-Eltingville,SI11 Charleston-Richmond Valley-Tottenville,SI25 Oakwood-Oakwood Beach,SI32 Rossville-Woodrow,SI48 Arden Heights,SI54 Great Kills,SI99 park-cemetery-etc-Staten Island
Parameters,,,,,,,,,,,,,,,,,,,,,
HOUSING OCCUPANCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total housing units,"8,939","20,944","17,302","15,814","12,735","17,033","13,108","17,006","28,484","28,254",...,"11,739","9,275","8,398","10,352","8,244","8,733","7,225","9,188","15,716",0.0
Occupied housing units,"8,299","19,172","15,124","14,888","11,346","15,085","11,560","14,937","24,360","24,225",...,"11,096","8,752","7,881","9,786","7,622","8,194","6,945","8,805","15,289",0.0
Vacant housing units,640,"1,772","2,178",926,"1,389","1,948","1,548","2,069","4,124","4,029",...,643,523,517,566,622,539,280,383,427,0.0
UNITS IN STRUCTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dropna(how = 'all', inplace = True)
df.head()

,BK72 Williamsburg,BK73 North Side-South Side,BK76 Greenpoint,BK90 East Williamsburg,BK09 Brooklyn Heights-Cobble Hill,BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,BK68 Fort Greene,BK69 Clinton Hill,BK35 Stuyvesant Heights,BK75 Bedford,...,SI24 Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill,SI36 Old Town-Dongan Hills-South Beach,SI45 New Dorp-Midland Beach,SI01 Annadale-Huguenot-Prince's Bay-Eltingville,SI11 Charleston-Richmond Valley-Tottenville,SI25 Oakwood-Oakwood Beach,SI32 Rossville-Woodrow,SI48 Arden Heights,SI54 Great Kills,SI99 park-cemetery-etc-Staten Island
Parameters,,,,,,,,,,,,,,,,,,,,,
Total housing units,"8,939","20,944","17,302","15,814","12,735","17,033","13,108","17,006","28,484","28,254",...,"11,739","9,275","8,398","10,352","8,244","8,733","7,225","9,188","15,716",0.0
Occupied housing units,"8,299","19,172","15,124","14,888","11,346","15,085","11,560","14,937","24,360","24,225",...,"11,096","8,752","7,881","9,786","7,622","8,194","6,945","8,805","15,289",0.0
Vacant housing units,640,"1,772","2,178",926,"1,389","1,948","1,548","2,069","4,124","4,029",...,643,523,517,566,622,539,280,383,427,0.0
Total housing units,"8,939","20,944","17,302","15,814","12,735","17,033","13,108","17,006","28,484","28,254",...,"11,739","9,275","8,398","10,352","8,244","8,733","7,225","9,188","15,716",0.0
"1-unit, detached",319,497,363,339,98,235,157,334,515,468,...,"4,175","2,704","3,783","5,011","3,710","2,913","2,735","2,011","5,287",0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132 entries, Total housing units to    Not computed
Columns: 194 entries, BK72 Williamsburg to SI99 park-cemetery-etc-Staten Island
dtypes: float64(7), object(187)
memory usage: 201.1+ KB

In [6]:
df = df.astype('str')

for col in df.columns[1:]:
    df[col] = df[col].str.replace(',','')
    df[col] = df[col].str.replace('nan','0')
    df[col] = df[col].str.replace('-','')

In [7]:
for column in df.columns[1:]:
    df[column] = pd.to_numeric(df[column])

In [8]:
df.head()

,BK72 Williamsburg,BK73 North Side-South Side,BK76 Greenpoint,BK90 East Williamsburg,BK09 Brooklyn Heights-Cobble Hill,BK38 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,BK68 Fort Greene,BK69 Clinton Hill,BK35 Stuyvesant Heights,BK75 Bedford,...,SI24 Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill,SI36 Old Town-Dongan Hills-South Beach,SI45 New Dorp-Midland Beach,SI01 Annadale-Huguenot-Prince's Bay-Eltingville,SI11 Charleston-Richmond Valley-Tottenville,SI25 Oakwood-Oakwood Beach,SI32 Rossville-Woodrow,SI48 Arden Heights,SI54 Great Kills,SI99 park-cemetery-etc-Staten Island
Parameters,,,,,,,,,,,,,,,,,,,,,
Total housing units,"8,939",20944,17302,15814,12735,17033,13108,17006,28484,28254,...,11739,9275,8398,10352,8244,8733,7225,9188,15716,0.0
Occupied housing units,"8,299",19172,15124,14888,11346,15085,11560,14937,24360,24225,...,11096,8752,7881,9786,7622,8194,6945,8805,15289,0.0
Vacant housing units,640,1772,2178,926,1389,1948,1548,2069,4124,4029,...,643,523,517,566,622,539,280,383,427,0.0
Total housing units,"8,939",20944,17302,15814,12735,17033,13108,17006,28484,28254,...,11739,9275,8398,10352,8244,8733,7225,9188,15716,0.0
"1-unit, detached",319,497,363,339,98,235,157,334,515,468,...,4175,2704,3783,5011,3710,2913,2735,2011,5287,0.0

In [9]:
df.isna().values.all()

False

In [10]:
df.notnull().values.all()

True

In [11]:
df.columns = df.columns.str.replace(" ","_")

In [12]:
df.to_csv('/wingrdp/homedirs/ppw220/housing.csv')