In [59]:
import pandas as pd
import numpy as np

df = pd.read_csv('nta_eco311.csv')
df.head()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,42,43,44,45,48,49,50,51,52,53,54,55,56,57,58,59,60,61,64,69,74,78,79,83,84,85,86,88,94,95,99,100,102,103,111,112,113,114,115,116,117,119,120,121,122,123,124,131,132,133,134) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 0.1,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,...,With health insurance coverage.1,With private health insurance,With public coverage,No health insurance coverage.1,Not in labor force:,With health insurance coverage,With private health insurance,With public coverage,No health insurance coverage,NTA_code
0,0,0,21722467,2011-10-24 08:58:00,2011-10-26 01:45:00,dep,department of environmental protection,noise,noise: construction before/after hours (nm1),NaN,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25
1,20,20,21723669,2011-10-24 14:39:00,2011-10-26 06:45:00,dep,department of environmental protection,noise,noise: construction equipment (nc1),NaN,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25
2,80,81,21727928,2011-10-25 00:28:00,2011-10-26 20:00:00,dep,department of environmental protection,noise,noise: construction equipment (nc1),NaN,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25
3,90,91,21728908,2011-10-25 23:38:00,2011-10-31 20:00:00,dep,department of environmental protection,noise,noise: jack hammering (nc2),NaN,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25
4,116,117,21729998,2011-10-25 23:34:00,2011-11-01 01:45:00,dep,department of environmental protection,noise,noise: jack hammering (nc2),NaN,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25

In [60]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755679 entries, 0 to 755678
Data columns (total 137 columns):
Unnamed: 0                                                                                       755679 non-null int64
Unnamed: 0.1                                                                                     755679 non-null int64
unique_key                                                                                       755679 non-null int64
created_date                                                                                     755679 non-null object
closed_date                                                                                      752975 non-null object
agency                                                                                           755679 non-null object
agency_name                                                                                      755679 non-null object
complaint_type                                                                                   755679 non-null object
descriptor                                                                                       755679 non-null object
location_type                                                                                    435198 non-null object
incident_zip                                                                                     755679 non-null int64
incident_address                                                                                 652840 non-null object
street_name                                                                                      652840 non-null object
cross_street_1                                                                                   693882 non-null object
cross_street_2                                                                                   693627 non-null object
intersection_street_1                                                                            200748 non-null object
intersection_street_2                                                                            200757 non-null object
address_type                                                                                     658130 non-null object
city                                                                                             748827 non-null object
landmark                                                                                         90783 non-null object
facility_type                                                                                    341555 non-null object
status                                                                                           755679 non-null object
due_date                                                                                         341864 non-null object
resolution_description                                                                           753042 non-null object
resolution_action_updated_date                                                                   745503 non-null object
community_board                                                                                  755679 non-null object
bbl                                                                                              605268 non-null float64
borough                                                                                          755679 non-null object
x_coordinate_(state_plane)                                                                       755679 non-null float64
y_coordinate_(state_plane)                                                                       755679 non-null float64
latitude                                                                                         755679 non-null float64
longitude                                                                                        755679 non-null float64
location                                                                                         755679 non-null object
geometry                                                                                         755679 non-null object
index_right                                                                                      755679 non-null int64
boro_code                                                                                        755679 non-null float64
boro_name                                                                                        755679 non-null object
county_fip                                                                                       755679 non-null int64
ntacode                                                                                          755679 non-null object
ntaname                                                                                          755679 non-null object
shape_area                                                                                       755679 non-null float64
shape_leng                                                                                       755678 non-null float64
Population 16 years and over                                                                     755678 non-null object
   In labor force                                                                                755678 non-null object
       Civilian labor force                                                                      755678 non-null object
          Employed                                                                               755678 non-null object
          Unemployed                                                                             755678 non-null float64
       Armed Forces                                                                              755678 non-null float64
   Not in labor force                                                                            755678 non-null object
Civilian labor force                                                                             755678 non-null object
Females 16 years and over                                                                        755678 non-null object
   In labor force.1                                                                              755678 non-null object
      Civilian labor force                                                                       755678 non-null object
        Employed                                                                                 755678 non-null object
Own children under 6 years                                                                       755678 non-null object
      All parents in family in labor force                                                       755678 non-null object
Own children 6 to 17 years                                                                       755678 non-null object
      All parents in family in labor force.1                                                     755678 non-null object
Civilian employed population 16 years and over                                                   755678 non-null object
   Management, business, science, and arts occupations                                           755678 non-null object
   Service occupations                                                                           755678 non-null object
   Sales and office occupations                                                                  755678 non-null object
   Natural resources, construction, and maintenance occupations                                  755678 non-null float64
   Production, transportation, and material moving occupations                                   755678 non-null float64
Civilian employed population 16 years and over.1                                                 755678 non-null object
   Agriculture, forestry, fishing, hunting, and mining                                           755678 non-null float64
   Construction                                                                                  755678 non-null float64
   Manufacturing                                                                                 755678 non-null float64
   Wholesale trade                                                                               755678 non-null float64
   Retail trade                                                                                  755678 non-null object
   Transportation and warehousing, and utilities                                                 755678 non-null float64
   Information                                                                                   755678 non-null float64
   Finance and insurance, and real estate and rental and leasing                                 755678 non-null float64
   Professional, scientific, and management, and administrative and waste management services    755678 non-null float64
   Educational services, and health care and social assistance                                   755678 non-null object
   Arts, entertainment, and recreation, and accommodation and food services                      755678 non-null float64
   Other services, except public administration                                                  755678 non-null float64
   Public administration                                                                         755678 non-null float64
Civilian employed population 16 years and over.2                                                 755678 non-null object
   Private wage and salary workers                                                               755678 non-null object
   Government workers                                                                            755678 non-null float64
   Self-employed in own not incorporated business workers                                        755678 non-null float64
   Unpaid family workers                                                                         755678 non-null float64
Total households                                                                                 755678 non-null object
   Less than $10,000                                                                             755678 non-null object
   $10,000 to $14,999                                                                            755678 non-null object
   $15,000 to $24,999                                                                            755678 non-null object
   $25,000 to $34,999                                                                            755678 non-null float64
   $35,000 to $49,999                                                                            755678 non-null object
   $50,000 to $74,999                                                                            755678 non-null float64
   $75,000 to $99,999                                                                            755678 non-null float64
   $100,000 to $149,999                                                                          755678 non-null float64
   $150,000 to $199,999                                                                          755678 non-null float64
   $200,000 or more                                                                              755678 non-null float64
   With earnings                                                                                 755678 non-null object
   With Social Security                                                                          755678 non-null object
   With retirement income                                                                        755678 non-null float64
   With Supplemental Security Income                                                             755678 non-null float64
   With cash public assistance income                                                            755678 non-null float64
   With Food Stamp/SNAP bnfts in the past 12 mo                                                  755678 non-null object
Families                                                                                         755678 non-null object
   Less than $10,000.1                                                                           755678 non-null float64
   $10,000 to $14,999.1                                                                          755678 non-null object
   $15,000 to $24,999.1                                                                          755678 non-null object
   $25,000 to $34,999.1                                                                          755678 non-null float64
   $35,000 to $49,999.1                                                                          755678 non-null float64
   $50,000 to $74,999.1                                                                          755678 non-null float64
   $75,000 to $99,999.1                                                                          755678 non-null float64
   $100,000 to $149,999.1                                                                        755678 non-null float64
   $150,000 to $199,999.1                                                                        755678 non-null float64
   $200,000 or more.1                                                                            755678 non-null float64
Nonfamily households                                                                             755678 non-null object
Civilian noninstitutionalized population                                                         755678 non-null object
   With health insurance coverage                                                                755678 non-null object
      With private health insurance                                                              755678 non-null object
      With public coverage                                                                       755678 non-null object
   No health insurance coverage                                                                  755678 non-null object
Civilian noninstitutionalized population under 18 years                                          755678 non-null object
   No health insurance coverage.1                                                                755678 non-null float64
Civilian noninstitutionalized population 18 to 64 years                                          755678 non-null object
   In labor force:                                                                               755678 non-null object
      Employed:                                                                                  755678 non-null object
         With health insurance coverage                                                          755678 non-null object
            With private health insurance                                                        755678 non-null object
            With public coverage                                                                 755678 non-null object
         No health insurance coverage                                                            755678 non-null float64
      Unemployed:                                                                                755678 non-null float64
         With health insurance coverage.1                                                        755678 non-null float64
           With private health insurance                                                         755678 non-null float64
           With public coverage                                                                  755678 non-null float64
         No health insurance coverage.1                                                          755678 non-null float64
    Not in labor force:                                                                          755678 non-null object
        With health insurance coverage                                                           755678 non-null object
          With private health insurance                                                          755678 non-null object
          With public coverage                                                                   755678 non-null object
        No health insurance coverage                                                             755678 non-null float64
NTA_code                                                                                         755678 non-null object
dtypes: float64(51), int64(6), object(80)
memory usage: 789.9+ MB

In [61]:
cols = ['Unnamed: 0','Unnamed: 0.1','created_date','closed_date','agency','agency_name','complaint_type','descriptor','location_type','street_name','cross_street_1','cross_street_2','intersection_street_1','intersection_street_2','address_type','city','landmark','facility_type','status','due_date','resolution_description','resolution_action_updated_date']

In [62]:
temp_df = df.copy()
temp_df.drop(cols, axis = 1, inplace = True)
temp_df.head()

,unique_key,incident_zip,incident_address,community_board,bbl,borough,x_coordinate_(state_plane),y_coordinate_(state_plane),latitude,longitude,...,With health insurance coverage.1,With private health insurance,With public coverage,No health insurance coverage.1,Not in labor force:,With health insurance coverage,With private health insurance,With public coverage,No health insurance coverage,NTA_code
0,21722467,10005,10 nassau street,01 MANHATTAN,NaN,manhattan,981440.0,197131.0,40.707755,-74.010135,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25
1,21723669,10038,15 park row,01 MANHATTAN,1.000908e+09,manhattan,982121.0,198498.0,40.711508,-74.007679,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25
2,21727928,10005,NaN,01 MANHATTAN,NaN,manhattan,981148.0,196593.0,40.706279,-74.011188,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25
3,21728908,10038,273 water street,01 MANHATTAN,1.001078e+09,manhattan,983908.0,197437.0,40.708596,-74.001234,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25
4,21729998,10006,90 west street,01 MANHATTAN,1.000560e+09,manhattan,980157.0,197956.0,40.710019,-74.014763,...,1086.0,1058.0,42.0,190.0,4612,3896,3546,423,716.0,MN25

In [67]:
df_pivot = pd.pivot_table(df, index = df.NTA_code)

In [63]:
crime_total = temp_df.NTA_code.value_counts()
crime_total = pd.DataFrame(crime_total)
crime_total.columns = ['Counts']

In [70]:
df_pivot.columns = df_pivot.columns.str.strip()

In [71]:
df_pivot.columns

Index(['With private health insurance', 'With public coverage', 'Unemployed',
       'No health insurance coverage', 'No health insurance coverage.1',
       'With health insurance coverage.1', 'No health insurance coverage',
       'Armed Forces', 'Unemployed:', '$100,000 to $149,999',
       '$100,000 to $149,999.1', '$150,000 to $199,999',
       '$150,000 to $199,999.1', '$200,000 or more', '$200,000 or more.1',
       '$25,000 to $34,999', '$25,000 to $34,999.1', '$35,000 to $49,999.1',
       '$50,000 to $74,999', '$50,000 to $74,999.1', '$75,000 to $99,999',
       '$75,000 to $99,999.1',
       'Agriculture, forestry, fishing, hunting, and mining',
       'Arts, entertainment, and recreation, and accommodation and food services',
       'Construction',
       'Finance and insurance, and real estate and rental and leasing',
       'Government workers', 'Information', 'Less than $10,000.1',
       'Manufacturing',
       'Natural resources, construction, and maintenance occupations',
       'No health insurance coverage.1',
       'Other services, except public administration',
       'Production, transportation, and material moving occupations',
       'Professional, scientific, and management, and administrative and waste management services',
       'Public administration',
       'Self-employed in own not incorporated business workers',
       'Transportation and warehousing, and utilities',
       'Unpaid family workers', 'Wholesale trade',
       'With Supplemental Security Income',
       'With cash public assistance income', 'With retirement income',
       'Unnamed: 0', 'Unnamed: 0.1', 'bbl', 'boro_code', 'county_fip',
       'incident_zip', 'index_right', 'latitude', 'longitude', 'shape_area',
       'shape_leng', 'unique_key', 'x_coordinate_(state_plane)',
       'y_coordinate_(state_plane)'],
      dtype='object')

In [78]:
df_pivot_insur = df_pivot.loc[:,df_pivot.columns[:7]]

In [81]:
df_pivot.drop(df_pivot.columns[:7], axis = 1, inplace = True)

In [87]:
df_pivot_salary = df_pivot.loc[:,df_pivot.columns[2:15]]
df_pivot.drop(df_pivot.columns[2:15], axis = 1, inplace = True)

In [89]:
df_pivot.drop(['Unnamed: 0', 'Unnamed: 0.1','index_right'], axis=1, inplace= True)

In [91]:
df_pivot_jobs = df_pivot.loc[:,:]

In [92]:
df_pivot_insur['X_insur'] = df_pivot_insur.sum(axis = 1)
df_pivot_salary['X_salary'] = df_pivot_salary.sum(axis = 1)
df_pivot_jobs['X_insur'] = df_pivot_jobs.sum(axis = 1)


df_pivot_insur = df_pivot_insur.merge(crime_total, on = df_pivot_insur.index)
df_pivot_salary = df_pivot_salary.merge(crime_total, on = df_pivot_salary.index)
df_pivot_jobs = df_pivot_jobs.merge(crime_total, on = df_pivot_jobs.index)

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [96]:
df_pivot_salary.to_csv('DemoBySalary.csv')
df_pivot_insur.to_csv('DemoByInsurance.csv')
df_pivot_jobs.to_csv('DemoByJobs.csv')